.text-container {
    position: relative;
    /* background-image: url('../../../assets/blur.jpg'); */
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    display: inline-block;
    width: 200px;
    height: 10px;
    left:-60px;
    padding-left: 20px;
    color: #e8dede;
  }
  .internal-mat
  {
    position: relative;
    width: 1123px;
    height:1500px;
    left:-126px;
  }
  /* .custom-card{
    margin-left:16px;
    padding-left: 20px;
    width: 100px;
    height:100px;
    left:100px;
  } */
 