
<html >

<body >
    <div class="text-container">
    <section>
       
        <div class="bootstrap-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <app-menubar></app-menubar>
                    </div>
    
                    <div class="col-md-9">
                        <div class="tuition">
                         </div>
                         <!-- <img   mat-card-image src="../../../assets/tuition.jpg" alt="Placeholder Image"> -->
                    <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
 
    </section>
</div>
    <footer>
        <p  style="margin-top:-5x; ml-10">&copy; 2023 Silon Technology,Bhubaneswar</p>
    </footer>
</body>
</html>






