.mat-mdc-card-content
{
    background-color: #FFFFF0;
}
.mat-mdc-card{
    background-color: #FFFFFF;
}
.profile-image{
    max-width:150px;
    max-height:200px;
    border:2px solid black;
    border-radius:50%
}
.table{
    width:100%;
    border: 0.4px solid red;
}
.table tr td{
    padding:12px 12px;
    border: 0.4px solid rgb(191, 165, 165);
   
}
#center-div {
    position: absolute;
    top: 520px;
    left: -140px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 0%;
    background-color: lightblue;
  }