.text-center{
  text-align: center;  
}

.logo {
    width: 130px; /* set the desired width */
    height: auto;
   /* maintain aspect ratio */
  }
  .full-width{
    width:100%;
  }
 

  .width-50{width: 49%;}
  .ml-1{margin-left: 1%;}
  .ml-2{margin-left: 2%;}
  .ml-3{margin-left: 3%;}
  .width-100{width: 100%;}
  .width-25{width: 25%;}
  .width-75{width: 75%;}
  .width-40{width: 40%;}
  .width-36{width: 36%;}

  .mat-form-field input {
    color: rgb(142, 175, 66);
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
  }