<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="Margin-top: -20px; Margin-left: 450px;">
          <div class="col-md-8 offset-md-3">
            <mat-card [ngStyle]="{ 'background-color': 'white' }"  style="margin-left:-100px;" >
            <div class="container"   class="col-md-6 offset-md-3" >
              <img src="../../../assets/logo.jpg" alt="" class="logo">            
              <h1 style="margin-left:-40px; font-size:24px;" class ="text-left" >User Registration</h1>
            </div>
           <!-- {{user | json}}  -->
            <form (ngSubmit)="formSubmit()"  #register="ngForm" style="margin-left:60px; " >
                <mat-form-field  class="width-75  ml-2  " >
                    <mat-label >Username</mat-label>
                    <input [(ngModel)]="user.username" name="username"  required matInput placeholder="Enter your username">                   
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill" class="width-75  ml-2">
                    <mat-label>Password</mat-label>
                    <input [(ngModel)]="user.password" name="password" required matInput type="password" >
                  </mat-form-field>
                  <br>
                <mat-form-field  color="primary" appearance="fill" class="width-36 ml-2">
                    <mat-label color="primary">First Name</mat-label>
                    <input matInput [(ngModel)]="user.firstname" name="firstname" required color="primary" placeholder="Enter First Name" >
                  </mat-form-field>
                  
                  <mat-form-field appearance="fill" class="width-36 ml-3" >
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="user.lastname" name="lastname" required placeholder="Enter Last Name">
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill" class="width-75  ml-2">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="user.email" name="email" type="email" required placeholder="Enter your email">
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill" class="width-75  ml-2" >
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="user.phone" name="phone" type="number" required placeholder="Enter Phone Number">
                  </mat-form-field>
                  <br>            
                <br>               
                <button  type="submit" mat-raised-button  class="ml-2" style=" margin-left:60px; background-color:#6db886;">Register</button>
                <button style="margin-left:10px;"  (click)="onResetClick()" mat-raised-button  class="ml-2" color="accent">Reset</button>
              </form>
           </mat-card>
          </div>
        </div>
    </div>
    <!-- <footer>
      <p  style="margin-top:-5x; ml-10">&copy; 2023 Mo Tution</p>
  </footer> -->
</div>

