<mat-card >

    <mat-action-list >
        <div mat-subheader  style="font-size:23px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold; color:rgb(213, 234, 219);">Menu</div>
        <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon style="color:rgb(255, 255, 255);">account_circle</mat-icon><a style="color:rgb(255, 255, 255);">Profile</a></button>
        <button  mat-list-item routerLink="/admin/home" ><mat-icon mat-list-icon style="color:rgb(255, 255, 255);">hail</mat-icon><a style="color:rgb(255, 255, 255);">Teacher Performance</a></button>
        <button mat-list-item routerLink="/admin/home"><mat-icon mat-list-icon style="color:rgb(255, 255, 255);">school</mat-icon><a style="color:rgb(255, 255, 255);">Student Performance</a></button>
        </mat-action-list>
</mat-card>